<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
    <ul>
        <% menu.forEach(element => { %>
         <a href= <%=element.href%>><%=element.tag%></a> 
        <% }) %>
    </ul>

    <h1>This is the <%= body.tag %> page</h1>
    <p><%= body.body %></p>

    <div class="login-container">
        <h2><%= body.tag %></h2>
        <form id="loginForm" action="/login" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" for="loginForm">Login</button>
        </form>
    </div>
</body>
</html>